AnimoDemo/AnimoDemo.xcodeproj/xcuserdata
Animo.xcodeproj/xcuserdata
AnimoDemo/AnimoDemo.xcodeproj/project.xcworkspace/xcuserdata
*.orig
Animo.xcodeproj/project.xcworkspace/xcuserdata
AnimoDemo/DerivedData
DerivedData
node_modules
*.lock
*.framework.zip
Carthage/Build
node_modules
*.lock
